/*/build/
build/
/*/bin/
/*/gen/
/*/proguard/
/*/out/
/*/.svn/
/*/.settings/
/*/*.iml
*.apk
*.ap_
*.class
*.dex
local.properties
project.properties

.idea/.name
.idea/dataSources.ids
.idea/scopes/
.idea/dictionaries/
.gradle/
.idea/
.metadata/
*.iml
*.jks

*/.DS_Store
.DS_Store
Thumbs.db

/*/mapping.txt
/*/seeds.txt
/*/unused.txt
